.badge {
  padding: 0.4em 0.75em;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.5rem;
  color: white;
  z-index: 1;
}

.badge-available {
  background-color: #28a745; /* Green */
}

.badge-sold {
  background-color: #dc3545; /* Red */
}
